<template>
    <div class="collection container-fluid">
        <div class="row">
            <div class="post col-md-4" v-for="d in data">
                <div class="media" v-if="typeof d.content.images !== 'undefined'">
                    <a class="" :href="(d.product.product_link == null) ? '#' : d.product.product_link" target="_blank">
                        <img :src="d.content.images" alt="Media" width="100%" height="100%">
                    </a>
                </div>
            
                <div class="noMedia" v-else>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['data'],
    data() {
        return {

        }
    },
    methods: {
       
    }
}
</script>
