#app {
    width: 100%;
    height: 100%;
}

.collection {
    flex-wrap: wrap;
    margin: 90px auto;
    width: 100%;
}

.post {
    width: 350px;
    margin: 0 0 10px 0;
    flex-grow: 1;
}

.media{ 
    position: relative;
    padding-bottom: 100%;
    width: 100%;

}

.media img { object-fit: cover; position: absolute;}

.noMedia {
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
}

.topNav {
    background-color: #d480f9;
    font-family: "Raleway", sans-serif;
  }

  .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}